* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

/*  Content of the page */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; 
  background-color: #ffffff; 
}

.content {
  display: flex;
  text-align: center; 
  padding: 20px;
  background-color: #c6cdc9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 20px ;
  flex-wrap: wrap;
  
}

/* Header Styles */
.header {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin: 10px;
  margin-top: 40px;
}

.sub-header {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}


/* BukuCard*/
.book-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  width: 220px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.book-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.book-author {
  font-size: 1em;
  color: #555;
  margin-bottom: 10px;
}

.book-price {
  font-size: 1.1em;
  color: #2c6e49;
  margin-bottom: 20px;
}

.rent-form{
  background-color: #b2c5ba;
  margin-bottom:10px;
  border-radius: 8px;
  padding:5px;
}

.rent-button {
  background-color: #2c6e49;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.confirm-button{
  background-color: #5964ae;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
}
.label-date{
  margin:8px;
}

.total-rent {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.success-alert{
  color:#0c6a25;
  padding: 8px;
  border-radius: 8px;
  margin-bottom:10px;
  border:#2c6e49 solid 2px;
  font-weight: 800;
font-size: 1rem;
  
}

.error-alert{
  color:#6a0c0c;
  padding: 8px;
  border-radius: 8px;
  margin-bottom:10px;
  border:#710606 solid 2px;
  font-weight: 800;
font-size: 1rem;
}

.detail-rent{
  font-size: 15px;
  border:#716e6e solid 1px;
  border-radius: 8px;
  padding: 1rem;
}
.detail-rent-subtitle{
  font-size: 12px;
  text-align: start;
  font-weight: bold;
  font-style: italic;
}
@media (max-width: 500px) {
  .book-card {
      width: 160px;
      padding: 15px;
  }
  .book-title {
      font-size: 1em;
  }
  .book-author {
      font-size: 0.9em;
  }
  .book-price {
      font-size: 1em;
  }
  .rent-button {
      padding: 8px;
  }
  .app-container {
    padding: 10px;
  }
  .header {
    font-size: 2em;
  }
  .sub-header {
    font-size: 1em;
  }
  .form-sewa-container {
    width: 100%;
    padding: 15px;
  }
  .form-input input {
    font-size: 0.9em;
  }
  .form-button {
    padding: 10px;
  }
}

